body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.active {
    display: flex;
}

.true {
    background-color: #339633;
}
.false {
    background-color: #a93636;
}

.test {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title {
    text-align: center;
}

.test__start-btn {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .3s ease;
}

.test__start-btn:hover {
    background-color: #45457d;
    color: #fff;
}


.test__questions {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.questions__elem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.test__btn-next {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .3s ease;
}

.test__btn-next:hover {
    background-color: #45457d;
    color: #fff;
}

.questions__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.questions__top img {
    max-width: 500px;
}


.questions__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-position: inside;
    list-style-type: lower-alpha;
}

.questions__item {
    max-width: 300px;
    width: 100%;
    padding-left: 1em;
    text-indent: -1em;
}

.questions__item button {
    display: inline-block;
    white-space: nowrap;
    max-width: 300px;
    width: 100%;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease;
}

.questions__item button:hover {
    background-color: #45457d;
    color: #fff;
}

.questions__item button.true:hover,
.questions__item button.false:hover {
    background-color: inherit;
    color: inherit;
    cursor: default;
}

.question__input {
    max-width: 300px;
    width: 100%;
    font-size: 20px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.question__input.true {
    background-color: #339633;
    color: white;
}

.question__input.false {
    background-color: #a93636;
    color: white;
}

.test__results {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.again {
    display: none;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease;
}

.again:hover {
    background-color: #45457d;
    color: #fff;
}
